.proyects-header{
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    gap: 0.5em;
}
.proyects-container {
    display: flex;
    align-items: center;
    gap: 0;
}

.carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    padding: 0;
}

.carrousel img {
    width: 300px;
    height: 300px;
}

.carrousel p {
    text-align: start;
    width: 500px;
    margin: 2em auto;
    font-size: 1em;
}

.proyect-title {
    font-size: 2em;
    margin-bottom: 1em;
}

.carrousel-control {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.carrousel button {
    background: transparent;
    border: 1px solid rgba(255, 0, 183, 0.3);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.carrousel button:hover {
    background: rgba(255, 0, 183, 0.3);
    border: 1px solid rgb(255, 0, 183);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}